*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color: hsl(276, 100%, 81%);
    --secondary-color: hsl(276, 55%, 52%);
    --thrid-color: hsl(271, 15%, 43%);
    --four-color: hsl(206, 6%, 79%);
    --five-color: hsl(271, 36%, 24%);
    --six-color: hsl(270, 7%, 64%);
    --seven-color: hsl(293, 100%, 63%);
    --eight-color: hsl(264, 100%, 61%);
    --nine-color: hsl(0, 0%, 100%);
    --ten-color: hsl(270, 20%, 96%);
    --eleven-color: hsl(271, 36%, 24%);
    --tweleve-color: hsl(289, 100%, 72%);
}

/* @media (min-width: 768px){
    .container{
        width: 750px;
    }
}

@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
} */
.container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    /* margin: 10% auto; */
    padding: 0 !important;

}
html{
    height: 100%;
}
body{
    background-color: var(--nine-color);
    font-family: "Rubik", sans-serif;
    height: 100%;
}
p{
    font-size: 16px;
}
i{
    font-size: 10px;
    font-weight: 700;
}

.first{
    margin: 0;
    height: 100vh;
    width: 50%;
    
}
.back1{
    position: absolute;
    height: 95vh;
    width: 350px;
    background-color: var(--secondary-color);
    border-radius: 0 0 50% 50%;
    z-index: -1;
    left: -5%;
    top: 0;
}
.back2{
    position: absolute;
    width: 200px;
    height: 85vh;
    background-color: hsl(276deg 100% 81% / 13%);
    z-index: -1;
    bottom: 0;
    right: 0;
    border-radius: 1000px 0 0 0;
}
.tel{
   position: relative;
    /* top: 2rem;
    left: 2rem; */
    margin: 30% auto;

}
.border{
    margin-bottom: 5rem;
    max-width: 285px;
    min-height: 450px;
    position: absolute;
    top: 2.5rem;
    left: 20%;
    border-radius: 30px;
    overflow-x: hidden;
    background-color: var(--four-color);
    border: 8px solid white !important;
    box-shadow: 0 0 10px 0 var(--thrid-color);
}
.bg-white{
    width: 110px;
    height: 15px;
    z-index: 10;
    position: absolute;
    border-radius: 0 0 15px 15px ;
    background-color: var(--nine-color);
    left: 70px;
}
.name{
    width: 100%;
    height: 70px;
   background-image: linear-gradient(var(--five-color) , var(--seven-color)) ;
   display: flex;
   align-items: center;
   padding: 1.1rem .8rem .5rem .8rem ;
}
.info{
    display: flex;
    align-items: center;
}
.info .image{
    width: 30px;
    margin: auto .8rem;
}
.info .image img{
    width: 100%;
    border-radius: 50%;
}
.desc{
    margin-top: 20px;
}
.info .desc h3{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 2px;
    color: var(--ten-color);
}
.info .desc p{
    font-size: 10px;
    color: hsl(270deg 20% 96% / 45%);
}
.left-icon{
    position: absolute;
    right: 18px;
}
.discussion{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}
.discussion p{
    background-color: var(--ten-color);
    border-radius: 9px;
    width: 8.2rem;
    font-size: 9px;
    margin-bottom: 5px;
}
.other{
    margin-bottom: 5px;
}
.other p{
    color: var(--main-color);
    font-weight: 400;
    padding: 5px;
}
.me{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.me p {
    width: 135px;
    background-color: var(--nine-color);
    padding: 5px;
    color: black;
}
.me p.small{
    width: fit-content;
}
.me p.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    width: 130px;
    padding: 0;
    gap: 5px;
}
.me p.image img{
    width: 40px;
    border-radius: 9px;
}
p.price{
    position: relative;
    width: 11rem;
    background-color: var(--seven-color);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}
p.price .p{
    color: var(--nine-color);
    margin-left: 10px;
}
p.price .num{
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    right: 10px;
}
form{
    background-color: var(--ten-color);
    margin: 0 15px 15px 15px;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
}
input{
    --webkit-appearance: none;
    border: none;
    background: transparent;
    padding: 10px 10px;
    outline: none;
}
form i{
    color: var(--nine-color);
    background-color: var(--eleven-color);
    padding: 10px;
    border-radius: 50%;
    margin-left: -10px;
}
.second{
    display: flex;
    justify-content: center;
    width: 50%;
    min-height: 100vh;
    align-items: center;
}
.book{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    float: left;
}
.book h1{
    display: flex;
    font-weight: 700;
    color: var(--eleven-color);
    margin-bottom: 2rem;
}
.book p{
    color: var(--eleven-color);
    width: 400px;
    line-height: 22px;
    font-weight: 500;
}
@media(max-width: 991px){
    html, body{
        width:  100%; 
        height: 100%;
        padding: 0;
        margin: 0;
   }
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        
    }
    .tel {
        width: 100%;
       
    }
    
    .first{
        flex-direction: column;
        position: relative;
        display: flex;
        justify-items: center;
        width: 100%;
        min-height: 100vh;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }
    .back1{
        height: 95vh;
        width: 60%;
        left: -3.5rem;
        top: 0rem;
    }
    .second{
        height: auto;
        width: 100%;
    }
    .border{
        /* position: static; */    /* this can solve part of the problem but not all */
        margin: 0 auto;
        padding: 0;

    }
    .back1{
        height: 95vh;
        width: 60%;
        left: -3.5rem;
        top: 0rem;
    }
    .back2{
        opacity: 0;
    }
    .second{
        height: auto;
        width: 100%;
        display: contents;
    }
    .book{
        margin-bottom: 5rem;
    }
    .book h1{
        font-size: 45px;
    }
    .book p{
        width: 500px; 
    }
}
@media(max-width: 767px){
    .back2{
        opacity: 0;
    }
    .border{
        top: 2.5rem;
        left: 20%;
    }
    .book{
        margin: 5rem 2rem;
    }
    .book p{
        width: auto;
    }
    
}
